<ion-view view-title="Inicio">
    <ion-content ng-controller="mainCtrl">

        <!-- iBiblioteca -->
        
          <div class="card list">
            <div class="item item-divider">
              Bienvenido a iBibliotecaaa
            </div>
            <div class="item item-text-wrap">
              Aplicación de prueba de iBibliotecaaad. Bla bla bla bla bla bla Aplicación de 
              prueba de iBiblioteca. Bla bla bla bla bla bla
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-telephone"></i>
                Contactar con la empresa
            </a>
          </div>

        <!-- Información sobre autor -->

        <div class="card list">
            <div class="item item-divider">
              Información sobre el autor
            </div>
            <div class="item item-text-wrap">
              Aplicación creada por Ernesto Orellana
            </div>
            <a href="#/author" class="item item-icon-left">
              <i class="icon ion-person"></i>
                Consultar información
            </a>
        </div>
      </ion-content>
</ion-view> 